{% extends "task_manager/base.html" %}

{% block title %}Home - Task Manager{% endblock %}

{% block content %}
    <h2>Welcome to IT Company Task Manager</h2>
    <p>This is your dashboard where you can track tasks and team progress.</p>
    
    <hr>
    
    <h3>Current Statistics:</h3>
    <ul>
        <li><strong>Total Task:</strong> {{ num_task }}</li>
        <li><strong>Total Worker:</strong> {{ num_worker }}</li>
        <li><strong>Total Position:</strong> {{ num_position }}</li>
    </ul>
{% endblock %}